extends layout

block content
  h1= title

  body
  img(src="images/blogmcnet.png", alt="minercraft")
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis delectus ex, earum repellendus veritatis beatae similique architecto explicabo modi blanditiis totam, error necessitatibus ea nesciunt quis sed. Commodi, non eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur veritatis ipsum accusantium consequuntur alias tenetur fuga iste, quibusdam distinctio aliquam illum, sapiente vero nihil perspiciatis fugit accusamus rem! Nesciunt.

  footer
